/*
 * TesserAPIV1Lib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package app.zuplo.tesserplatformv1pull51me98e48a7.controllers;

import app.zuplo.tesserplatformv1pull51me98e48a7.ApiHelper;
import app.zuplo.tesserplatformv1pull51me98e48a7.Server;
import app.zuplo.tesserplatformv1pull51me98e48a7.exceptions.ApiException;
import app.zuplo.tesserplatformv1pull51me98e48a7.http.request.HttpMethod;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.Classification7Enum;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CounterpartyListResponse;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CounterpartyResponse;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CreateCounterpartyRequest;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CreateCounterpartyResponse;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.UpdateCounterpartyRequest;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.UpdateCounterpartyResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CounterpartiesController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CounterpartiesController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a new counterparty for your workspace. A counterparty is any external party that your
     * organization transacts with, such as vendors, customers, or partners. **Classifications:** -
     * **individual**: A natural person (requires first/last name) - **business**: A legal entity
     * (requires legal name).
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the CreateCounterpartyResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CreateCounterpartyResponse create(
            final String authorization,
            final CreateCounterpartyRequest body) throws ApiException, IOException {
        return prepareCreateRequest(authorization, body).execute();
    }

    /**
     * Create a new counterparty for your workspace. A counterparty is any external party that your
     * organization transacts with, such as vendors, customers, or partners. **Classifications:** -
     * **individual**: A natural person (requires first/last name) - **business**: A legal entity
     * (requires legal name).
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the CreateCounterpartyResponse response from the API call
     */
    public CompletableFuture<CreateCounterpartyResponse> createAsync(
            final String authorization,
            final CreateCounterpartyRequest body) {
        try {
            return prepareCreateRequest(authorization, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for create.
     */
    private ApiCall<CreateCounterpartyResponse, ApiException> prepareCreateRequest(
            final String authorization,
            final CreateCounterpartyRequest body) {
        return new ApiCall.Builder<CreateCounterpartyResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/entities/counterparties")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CreateCounterpartyResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Retrieve all counterparties for your workspace with optional filtering. Use query parameters
     * to filter results: - **classification**: Filter by 'individual' or 'business'.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  classification  Optional parameter: Filter by classification
     * @param  includeSecure  Optional parameter: Include secure fields (PII)
     * @return    Returns the CounterpartyListResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CounterpartyListResponse findAll1(
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) throws ApiException, IOException {
        return prepareFindAll1Request(authorization, classification, includeSecure).execute();
    }

    /**
     * Retrieve all counterparties for your workspace with optional filtering. Use query parameters
     * to filter results: - **classification**: Filter by 'individual' or 'business'.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  classification  Optional parameter: Filter by classification
     * @param  includeSecure  Optional parameter: Include secure fields (PII)
     * @return    Returns the CounterpartyListResponse response from the API call
     */
    public CompletableFuture<CounterpartyListResponse> findAll1Async(
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) {
        try {
            return prepareFindAll1Request(authorization, classification, includeSecure).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for findAll1.
     */
    private ApiCall<CounterpartyListResponse, ApiException> prepareFindAll1Request(
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) {
        return new ApiCall.Builder<CounterpartyListResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/entities/counterparties")
                        .queryParam(param -> param.key("classification")
                                .value((classification != null) ? classification.value() : null).isRequired(false))
                        .queryParam(param -> param.key("include_secure")
                                .value(includeSecure).isRequired(false))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CounterpartyListResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Retrieve a specific counterparty by its unique identifier.
     * @param  id  Required parameter: Counterparty ID (UUID)
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  classification  Optional parameter: Filter by classification ('individual' or
     *         'business').
     * @param  includeSecure  Optional parameter: Include secure fields (PII)
     * @return    Returns the CounterpartyResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CounterpartyResponse findOne(
            final String id,
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) throws ApiException, IOException {
        return prepareFindOneRequest(id, authorization, classification, includeSecure).execute();
    }

    /**
     * Retrieve a specific counterparty by its unique identifier.
     * @param  id  Required parameter: Counterparty ID (UUID)
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  classification  Optional parameter: Filter by classification ('individual' or
     *         'business').
     * @param  includeSecure  Optional parameter: Include secure fields (PII)
     * @return    Returns the CounterpartyResponse response from the API call
     */
    public CompletableFuture<CounterpartyResponse> findOneAsync(
            final String id,
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) {
        try {
            return prepareFindOneRequest(id, authorization, classification, includeSecure).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for findOne.
     */
    private ApiCall<CounterpartyResponse, ApiException> prepareFindOneRequest(
            final String id,
            final String authorization,
            final Classification7Enum classification,
            final Boolean includeSecure) {
        return new ApiCall.Builder<CounterpartyResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/entities/counterparties/{id}")
                        .queryParam(param -> param.key("classification")
                                .value((classification != null) ? classification.value() : null).isRequired(false))
                        .queryParam(param -> param.key("include_secure")
                                .value(includeSecure).isRequired(false))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CounterpartyResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update an existing counterparty's information. Only provide the fields you want to update. At
     * least one field must be provided. **Note:** If changing classification from 'individual' to
     * 'business' (or vice versa), make sure to also provide the appropriate fields for the new
     * classification.
     * @param  id  Required parameter: Counterparty ID (UUID)
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the UpdateCounterpartyResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public UpdateCounterpartyResponse update1(
            final String id,
            final String authorization,
            final UpdateCounterpartyRequest body) throws ApiException, IOException {
        return prepareUpdate1Request(id, authorization, body).execute();
    }

    /**
     * Update an existing counterparty's information. Only provide the fields you want to update. At
     * least one field must be provided. **Note:** If changing classification from 'individual' to
     * 'business' (or vice versa), make sure to also provide the appropriate fields for the new
     * classification.
     * @param  id  Required parameter: Counterparty ID (UUID)
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the UpdateCounterpartyResponse response from the API call
     */
    public CompletableFuture<UpdateCounterpartyResponse> update1Async(
            final String id,
            final String authorization,
            final UpdateCounterpartyRequest body) {
        try {
            return prepareUpdate1Request(id, authorization, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for update1.
     */
    private ApiCall<UpdateCounterpartyResponse, ApiException> prepareUpdate1Request(
            final String id,
            final String authorization,
            final UpdateCounterpartyRequest body) {
        return new ApiCall.Builder<UpdateCounterpartyResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/entities/counterparties/{id}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, UpdateCounterpartyResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}