/*
 * TesserAPIV1Lib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package app.zuplo.tesserplatformv1pull51me98e48a7.controllers;

import app.zuplo.tesserplatformv1pull51me98e48a7.ApiHelper;
import app.zuplo.tesserplatformv1pull51me98e48a7.Server;
import app.zuplo.tesserplatformv1pull51me98e48a7.exceptions.ApiException;
import app.zuplo.tesserplatformv1pull51me98e48a7.http.request.HttpMethod;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CreateDepositRequest;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.CreateWithdrawalRequest;
import app.zuplo.tesserplatformv1pull51me98e48a7.models.PaymentResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TreasuryController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TreasuryController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a deposit payment.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the PaymentResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public PaymentResponse createDeposit(
            final String authorization,
            final CreateDepositRequest body) throws ApiException, IOException {
        return prepareCreateDepositRequest(authorization, body).execute();
    }

    /**
     * Create a deposit payment.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the PaymentResponse response from the API call
     */
    public CompletableFuture<PaymentResponse> createDepositAsync(
            final String authorization,
            final CreateDepositRequest body) {
        try {
            return prepareCreateDepositRequest(authorization, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createDeposit.
     */
    private ApiCall<PaymentResponse, ApiException> prepareCreateDepositRequest(
            final String authorization,
            final CreateDepositRequest body) {
        return new ApiCall.Builder<PaymentResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/treasury/deposit")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, PaymentResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a withdrawal payment.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the PaymentResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public PaymentResponse createWithdrawal(
            final String authorization,
            final CreateWithdrawalRequest body) throws ApiException, IOException {
        return prepareCreateWithdrawalRequest(authorization, body).execute();
    }

    /**
     * Create a withdrawal payment.
     * @param  authorization  Required parameter: Bearer token for authentication. To obtain a
     *         token, make a request to Auth0: ```bash curl --request POST \ --url
     *         https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token \ --header 'content-type:
     *         application/json' \ --data '{ "client_id":"YOUR_CLIENT_ID",
     *         "client_secret":"YOUR_CLIENT_SECRET", "audience":"https://sandbox.tesserx.co",
     *         "grant_type":"client_credentials" }' ``` The response will contain an `access_token`
     *         field which should be used as the Bearer token.
     * @param  body  Required parameter:
     * @return    Returns the PaymentResponse response from the API call
     */
    public CompletableFuture<PaymentResponse> createWithdrawalAsync(
            final String authorization,
            final CreateWithdrawalRequest body) {
        try {
            return prepareCreateWithdrawalRequest(authorization, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createWithdrawal.
     */
    private ApiCall<PaymentResponse, ApiException> prepareCreateWithdrawalRequest(
            final String authorization,
            final CreateWithdrawalRequest body) {
        return new ApiCall.Builder<PaymentResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/treasury/withdrawal")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Authorization")
                                .value(authorization).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("bearer"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, PaymentResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Details coming soon",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}